/config/database.php
/node_modules
/public/storage
/storage/debugbar
/public/css/*
!/public/css/fonts
/public/js
/public/img/userIcon/
/public/img/userIconOrginal/
/public/img/trip/
dump.rdb
/vendor
/.idea
/storage/logs/scheduleTask.log
Homestead.json
Homestead.yaml
.env
.DS_Store
*.sqlite
!icon
